<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    <style>        
    </style>
</head>
<body>
<div class="d-flex justify-content-center mt-4">
  <div class="w-100" style="max-width: 600px;">
    <div class="card shadow-lg p-4 rounded">
      <div class="text-center mb-3">
        <img src="assets/img/Logo.png" alt="Logo" style="max-height: 100px;">
      </div>
      <h4 class="text-center mb-4">Novo Agendamento</h4>

      <form>
        <!-- Cliente -->
        <div class="mb-3 position-relative" (clickOutside)="fecharLista()" #dropdownContainer>
          <label for="clientSearch" class="form-label fw-bold"style="font-family: 'Poppins', serif;" style="font-family: 'Raleway', serif;">Cliente</label>
          <div class="input-icon-container">
            <i class="fa-solid fa-user-tie input-icon"></i>
            <input 
              type="text" 
              class="input-field search-box full-width input-with-icon ps-5" 
              id="clientSearch" 
              name="clientSearch"
              [(ngModel)]="searchTerm"
              (input)="filtrarClientes()" 
              (focus)="mostrarLista = true"
              placeholder="Digite o nome do cliente..." />
          </div>
          
          <ul *ngIf="mostrarLista && filteredClients.length > 0" class="list-group mt-2 position-absolute w-100 z-index-3">
            <li *ngFor="let client of filteredClients" class="list-group-item list-group-item-action"
                (click)="selecionarCliente(client)">
              {{ client.clientName }}
            </li>
          </ul>
        </div>
        

        <!-- Telefone e Email -->
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="clientPhone" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Telefone</label>
            <div class="input-field search-box full-width">
              <i class="fa-solid fa-mobile-retro"></i>
              <input type="text" id="clientPhone" [(ngModel)]="PhoneNumber" name="clientPhone">
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="clientEmail" class="form-label fw-bold"style="font-family: 'Poppins', serif;">E-mail</label>
            <div class="input-field search-box full-width">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" id="clientEmail" [(ngModel)]="ClientEmail" name="clientEmail">
            </div>
          </div>
        </div>

        <!-- Serviço e Profissional -->
        <div class="d-flex gap-3">
  <!-- Serviço -->
          <div class="flex-fill">
            <label for="serviceId" class="form-label fw-bold" style="font-family: 'Poppins', serif;">Serviço</label>                      
            <select class="input-field search-box w-100" id="serviceId" [(ngModel)]="schedule.servicoAgendado" name="serviceId" required (change)="onServiceChange()">
              <option value="" disabled selected>Selecione um serviço</option>
              <option *ngFor="let service of Servicos" [value]="service.serviceId">{{ service.serviceName }}</option>
            </select>
          </div>

          <!-- Profissional -->
          <div class="flex-fill">
            <label for="professionalId" class="form-label fw-bold" style="font-family: 'Poppins', serif;">Profissional</label>
            <select class="input-field search-box w-100" id="professionalId" [(ngModel)]="schedule.professional" name="professionalId" required (change)="onServiceChange()">
              <option value="" disabled selected>Selecione um profissional</option>
              <option *ngFor="let professional of filteredProfessionals" [value]="professional.professionalId">{{ professional.professionalName }}</option>
            </select>
          </div>
        </div> 

        <p></p>               

        <!-- Data e Hora -->
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="form-label fw-bold mb-1" style="font-family: 'Poppins', serif;">Data do Agendamento</label> 
                  <div class="search-container">
                    <input 
                      type="text" 
                      placeholder="Selecione uma data"
                      bsDatepicker
                      class="input-field search-box full-width"
                      [(ngModel)]="schedule.scheduleDate" 
                      [bsConfig]="bsConfig"
                      name="scheduleDate" required>
                  </div>    
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label class="form-label fw-bold" style="font-family: 'Poppins', serif;">Hora do Agendamento</label>
              <select class="input-field search-box full-width" [(ngModel)]="scheduleTime" name="scheduleTime" required>
                <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
              </select>
            </div>
          </div>
        
        

        <!-- Descrição -->
        <div class="mb-3">
          <label for="scheduleDesc" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Descrição do Agendamento</label>
          <div class="input-field search-box full-width">
            <i class="fa-solid fa-file-pen"></i>
            <input type="text" id="scheduleDesc" [(ngModel)]="scheduleDesc" name="scheduleDesc" required>
          </div>
        </div>

        <!-- Botão -->
        <button type="submit" class="btn btn-primary rounded-pill w-100 mt-3 shadow-sm" (click)="addSchedule()">Agendar</button>
      </form>
    </div>
  </div>
</div>

<!-- MODAL DE CADASTRO -->
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Novo Cliente</h5>
    <button type="button" class="btn-close" (click)="bsModalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="card shadow-lg p-4 rounded">
      <h4 class="text-center mb-4">Cadastro de Cliente</h4>
      <form>
        <div class="mb-3">
          <label for="clientName" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Nome do Cliente</label>
          <div class="input-field search-box">
            <i class="fa-solid fa-user-tie"></i>
            <input type="text" id="clientName" [(ngModel)]="ClientName" name="clientName" required>
          </div>
        </div>

        <div class="mb-3">
          <label for="adress" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Endereço</label>
          <div class="input-field search-box">
            <i class="fa-solid fa-address-book"></i>
            <input type="text" id="adress" [(ngModel)]="Address" name="adress" required>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-8 mb-3">
            <label for="city" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Cidade</label>
            <div class="input-field search-box full-width">
              <i class="fa-solid fa-city"></i>
              <input type="text" id="city" [(ngModel)]="City" name="city" required>
            </div>
          </div>

          <div class="col-12 col-md-4 mb-3">
            <label for="state" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Estado</label>
            <div class="input-field search-box full-width">
              <i class="fa-solid fa-map-location-dot"></i>
              <input type="text" id="state" [(ngModel)]="State" name="state" required>
            </div>
          </div>
        </div>

        <div class="row">

        <div class="col-12 col-md-6 mb-3">
          <label for="clientPhone" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Telefone</label>
          <div class="input-field search-box full-width">
            <i class="fa-solid fa-mobile-retro"></i>
            <input type="text" id="clientPhone" [(ngModel)]="PhoneNumber" name="clientPhone" required>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <label for="clientEmail" class="form-label fw-bold"style="font-family: 'Poppins', serif;">E-mail</label>
          <div class="input-field search-box full-width">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" id="clientEmail" [(ngModel)]="ClientEmail" name="clientEmail" required>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="facebook" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Facebook</label>
            <div class="input-field search-box full-width">
              <i class="fa-brands fa-facebook"></i>
              <input type="text" id="facebook" [(ngModel)]="Facebook" name="facebook" required>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="instagram" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Instagram</label>
            <div class="input-field search-box full-width">
              <i class="fa-brands fa-instagram"></i>
              <input type="text" id="instagram" [(ngModel)]="Instagram" name="instagram" required>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="anamnese" class="form-label fw-bold"style="font-family: 'Poppins', serif;">Anamnese</label>
          <select class="input-field search-box" id="anamnese" [(ngModel)]="selectedAnamnese" name="anamnese" required>
            <option *ngFor="let anamnese of anamneses" [value]="anamnese.anamneseId">{{ anamnese.anamneseName }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary rounded-pill w-100 mt-3 shadow-sm" (click)="addClients()">Cadastrar</button>
      </form>
    </div>
  </div>
</ng-template>

<!-- MODAL DE CONFIRMAÇÃO -->
<ng-template #autoShownModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">Atenção</h4>
  </div>
  <div class="modal-body text-center">
    <p class="fs-5 fw-bold">Você já tem cadastro?</p>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-primary rounded-pill mx-2 px-4" (click)="fecharModal()">Sim</button>
      <button class="btn btn-primary rounded-pill mx-2 px-4" (click)="openModalNew(template)">Não</button>
    </div>
  </div>
</ng-template>
</body>
